---
http_interactions:
- request:
    method: get
    uri: http://sketches.quintype.com/api/v1/stories?story-group=top
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"stories":[{"author-name":"Tapan Bhat","headline":"5 Times Joey was
        more thoughtful than his other friends","slug":"culture/2016/04/07/5-Times-Joey-was-more-thoughtful-than-his-other-friends","last-published-at":1461312989932,"alternative":{},"sections":[{"id":142,"name":"Culture","display-name":null,"slug":"culture","parent-id":null}],"hero-image-metadata":{"width":2560,"height":1536,"mime-type":"image/jpeg"},"published-at":1461312989932,"id":"2e30cea1-b063-4531-9cbd-4f8631e55f60","hero-image-s3-key":"quintype-demo/2016-04/313c85cc-b6c9-4825-9a61-6421e959fd1f/Friends-season-10-014.jpg","author-id":2041,"first-published-at":1460029776973,"story-template":"listicle"},{"author-name":"Tapan
        Bhat","headline":"Nawaz Sharif & the Pakistan Army","slug":"politics/2016/10/06/Nawaz-Sharif-and-the-Pakistan-Army","last-published-at":1475756384044,"alternative":{},"sections":[{"id":83,"name":"Politics","display-name":null,"slug":"politics","parent-id":null}],"hero-image-metadata":{"width":5120,"height":3620},"published-at":1475756384044,"id":"74630f9d-7a10-4531-beea-3bc79237af9b","hero-image-s3-key":"quintype-demo/2016-07/1910bb30-b118-475c-aced-9304[...]
