---
http_interactions:
- request:
    method: get
    uri: http://sketches.quintype.com/api/v1/stories-by-slug?slug=the-greatest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"story":{"updated-at":1465407506446,"assignee-id":2041,"author-name":"Tapan
        Bhat","tags":[{"id":91770,"name":"Muhammad Ali"},{"id":91771,"name":"Boxing"}],"headline":"The
        Greatest !","storyline-id":null,"votes":{},"story-content-id":"1d2fc836-4113-4ae1-8735-377167664892","slug":"sports/2016/06/08/the-greatest","last-published-at":1465407509866,"alternative":{},"sections":[{"id":82,"name":"Sports","display-name":"Sports","slug":"sports","parent-id":null}],"content-created-at":1465405976374,"owner-name":"Tapan
        Bhat","custom-slug":null,"push-notification":null,"publisher-id":15,"hero-image-metadata":{"width":2133,"height":1906,"focus-point":[988,258]},"comments":null,"published-at":1465407509866,"storyline-title":null,"summary":"Muhammad
        Ali in pictures over the years","canonical-url":null,"autotags":[],"status":"published","bullet-type":"123","id":"1d2fc836-4113-4ae1-8735-377167664892","hero-image-s3-key":"quintype-demo/2016-06/cca8f31e-9264-4ee2-9af0-08eb53be2a26/ABP-1.jpg","cards":[{"story-elements":[{"description":"","image-metadata":{"width":1010,"height":675,"mime-type":"image/jpeg"},"page-url":"/story/1d2fc836-4113-4ae1-8735-377167664892/element/9226e244-dbb0-42d1-87a5-89142e043446","type":"image","family-id":"ca5eacf5-315a-4158-8e66-54f232cff263","title":"Muhammad
        Ali was never shy about lauding his own balletic talents in the boxing ring,
        and this photograph shows why. His ability to move away from his opponent,
        Joe Frazier, with such grace makes Frazier\u2019s haymaker look utterly crude.
        Ali appears to be untouchable. How ironic, then, that Frazier won the contest
        that was dubbed Fight of The Century.","id":"9226e244-dbb0-42d1-87a5-89142e043446","image-s3-key":"quintype-demo/2016-06/8768ed78-4587-4379-8b86-4d3a8c29c4e2/ABP-1.jpeg","metadata":{},"subtype":null}],"card-updated-at":1465406090966,"content-version-id":"2eeefc40-2463-4003-9612-4d64232347d1","card-added-at":1465406090966,"status":"draft","id":"90aa6edd-ba3c-4008-b6ad-ab6fa16a4568","content-id":"90aa6edd-ba3c-4008-b6ad-ab6fa16a4568","version":1},{"story-elements":[{"description":"","image-metadata":{"width":1010,"height":805,"mime-type":"image/jpeg"},"page-url":"/story/1d2fc836-4113-4ae1-8735-377167664892/element/29df43fa-3c2d-4fc4-a4e9-571afab13ff2","type":"image","family-id":"4bbff772-1080-4259-92fb-600981deb38b","title":"Ali
        was still known as Cassius Clay when this photo was taken. There\u2019s something
        boyish about his efforts to impress his audience. I like how one of the women,
        Ronnie Spector, seems im[...]
